html, body{
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
	background-color: black;
}

.parent{
	width: 80%;
	margin:10% auto;
	border: 1px solid #fff;
	min-height: 50vh; 
}

#searchterm{
	width:80%;
	margin-left: 10%;
	margin-top:2vh;
	height:8vmin;
	font-size: 6vmin;
	color: blue;
}

#keyboardLayout{
	width:80%;
	margin-left: 10%;
	margin-top:2vh;
	min-height: 5vh;
	border: 1px solid #fff;
}

.parentalpha {
	width:50%;
	min-height: 1vh;
	float:left;
}

.alphabets{
	background-color: #fff;
	margin-left:1.28%;
	margin-top:2vmin;
	margin-bottom: 2vmin;
	color:blue;
	width:13%;
	float:left;
	padding-top:2vmin;
	padding-bottom:2vmin;
	font-size: 2vmin;
	font-weight: 800;
	box-shadow: 0.2vmin 0.7vmin #999;
}

.alphabets:focus, .numberTags:focus{
	background-color: green;
}

.alphanumberactive{
  box-shadow: 0 0.2vmin #666;
  transform: translateY(0.15vmin);
}

.clearfix:after {
   content: ".";
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}

.numberpad{
	width:20%;
	min-height: 5vh;
	float:left;
	margin-left: 2.5%;
	margin-right: 2.5%;
}

.numberTags{
	background-color: #fff;
	margin-left:3%;
	margin-top:2vmin;
	margin-bottom: 2vmin;
	color:blue;
	width:30%;
	float:left;
	padding-top:2vmin;
	padding-bottom:2vmin;
	font-size: 2vmin;
	font-weight: 800;
	box-shadow: 0.2vmin 0.7vmin #999;
}

.otherkey{
	width:20%;
	min-height: 5vh;
	float:left;
	margin-left: 2.5%;
	margin-right: 2.5%;
}